html,
body {

    margin: auto;
    border: 0;
    max-width: 900px;

}

canvas {
    display: block;
    width: 400px;
    float: right;

}


#save_canvas {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}